.link{
    display: flex;
    flex-direction: row;
    position: relative;
}
.logo{
    position: relative;
    padding: 10px;
}
.logo img:hover{
    width: 10rem;
    height: 10rem;
    transition: ease-in-out, width 0.5s, height 0.5s;

}